.header,
.row {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.header th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.row td {
    border: 1px solid #dddddd;
    padding: 5px;
    background: #ffffff;
}
.first, .last {
    position: sticky;
    left: 0;
    right: 0;
}